<div class="container">
    <h2 class="text-center">
        Fiche d'inscription de la sortie <br /> 
        <a href="{{url}}" target="new">
            <strong>{{nom_activite}}</strong>
        </a>
    </h2>
     

    {{!-- Ajout d'un membre --}}
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardAjoutMembre" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardAjoutMembre">
            <h6 class="m-0 font-weight-bold text-primary">Ajouter un membre</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardAjoutMembre">
            <div class="card-body">
                <div class="row">
                    
                    <table>

                    </table>
                    
                </div>
            </div>
        </div>
    </div>
    
    {{!-- Liste inscription --}}
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardInscription" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardInscription">
            <h6 class="m-0 font-weight-bold text-primary">Liste des membres</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardInscription">
            <div class="card-body">
                <div class="row">
                    
                    <table>

                    </table>

                </div>
            </div>
        </div>
    </div>    

    <p class="champ text-center">
        <input class="btn btn-dark" type="button" value="retour" id="retour" />
    </p>
</div>