<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CL.Gestion</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="/css/cl-gestion_global.css" rel="stylesheet">
    {{{block "pageStyles"}}}

</head>
<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading text-center">Club Laval<br>Gestion membre </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light" href="/">Tableau de bord</a>
                <a class="list-group-item list-group-item-action bg-light" href="/ajouter-formulaire">Formulaire</a>
                <a class="list-group-item list-group-item-action bg-light" href="/formulaire-membre">Formulaire membre</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {{{body}}}
            </div>
        </div>
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation/dist/localization/messages_fr.min.js"></script>

    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="/js/site.js"></script>

    {{{block "pageScripts"}}}

</body>
</html>